
.timeline2 {
  position: relative;
}
.timeline2::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline2-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline2-item:nth-child(even) .timeline2-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline2-item:nth-child(even) .timeline2-content .date {
  right: auto;
  left: 0;
}
.timeline2-item:nth-child(even) .timeline2-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.timeline2-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline2-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}
.timeline2-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #fff;
}

.timeline2-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}



.timeline2-card {
  padding: 0 !important;
}
.timeline2-card p {
  padding: 0 20px;
}
.timeline2-card a {
  margin-left: 20px;
}

.timeline2-item .timeline2-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

.timeline2-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 13px 13px 0 0;
}
.timeline2-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}


.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .timeline2::before {
    left: 50px;
  }
  .timeline2 .timeline2-img {
    left: 50px;
  }
  .timeline2 .timeline2-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline2 .timeline2-item:nth-child(even) .timeline2-content {
    float: none;
  }
  .timeline2 .timeline2-item:nth-child(odd) .timeline2-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}