{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="page-wrapper auth">
            <div class="page-inner bg-brand-gradient">
                <div class="page-content-wrapper bg-transparent m-0">
                    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                        <div class="d-flex align-items-center container p-0">
                            <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                                    <img src="{% static 'users/img/logo.png' %}" alt="SmartAdmin WebApp" aria-roledescription="logo">
                                    <span class="page-logo-text mr-1">DearHR</span>
                                </a>
                            </div>
                            <a href="{% url 'users:users_login' %}" class="btn-link text-white ml-auto">
                                login here
                            </a>
                        </div>
                    </div>
                    <div class="flex-1" style="background: url({% static 'users/img/svg/pattern-1.svg' %}) no-repeat center bottom fixed; background-size: cover;">
                        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                            <div class="row">
                                <div class="alert alert-info" >
                                    an email has been sent with instructions to reset your password
                                </div>
                            </div>
                            <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                                2020 © DearHR&nbsp;<a href='https://www.dearhr.com' class='text-white opacity-40 fw-500' title='dearhr.com' target='_blank'>dearhr.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}