{% load static %}
{% block content %}
<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>Page Contact | Materialize - Material Design Admin Template</title>
    <link rel="apple-touch-icon" href="{% static 'app-assets/images/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/favicon/favicon-32x32.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/flag-icon/css/flag-icon.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/fontawesome/css/all.min.css' %}">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/page-contact.css' %}">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom/custom.css' %}">
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <header class="page-topbar" id="header" >
      <div class="navbar navbar-fixed" > 
        <nav style="height: 200px!important;" class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow">
          <div class="nav-wrapper">
          
          </div>
        </nav>
      </div>
    </header>
    <!-- END: Header-->


    <!-- BEGIN: Page Main-->
    <div id="main">
      <div class="row">
        <!-- <div class="content-wrapper-before "></div> -->
        <div class="col s12 m8 l6 pish-m2 push-l2" style="border-radius: 15px; z-index: 1000;">
          <div class="card ">
            <div class="card-header pt-3 pb-4" style="background:#d7e0e8; border-radius: 15px 15px 0 0;">
              <h5 class="center-align" style="font-weight: bolder;">Create Your Account </h5>
            </div>
            <div class="card-content">
              <div class="container">
                <!-- Contact Us -->
                <div id="contact-us">
                  <div class="app-wrapper">
                      <!-- Contact Sidenav -->
                    <div  class="row contact-sidenav">
                      <div class="col s12 m12 contact-form pt-0">
                          <div class="row">
                            <form class="col s12">
                              <div class="row">
                              <div class="input-field col m6 s12">
                                <input id="name" type="text" class="validate">
                                <label for="name">Your Name</label>
                              </div>
                              <div class="input-field col m6 s12">
                                <input id="name" type="text" class="validate">
                                <label for="name">Your Surname</label>
                              </div>
                              <div class="input-field col m12 s12">
                                <input id="email" type="text" class="validate">
                                <label for="email">Your e-mail</label>
                              </div>
                              </div>
                              <div class="row">
                              <div class="input-field col m6 s12">
                                <input id="budget" type="password" class="validate">
                                <label for="budget">Your Password </label>
                              </div>
                              <div class="input-field col m6 s12">
                                <input id="budget" type="password" class="validate">
                                <label for="budget">Your Password Again </label>
                              </div>
                              <h6 class="m-0 ml-2">Choose the right type of account</h6>  
                              <div class="contianer">
                                <div class="row pl-3 pr-3">
                                  <hr class="">
                                </div>
                              </div>
                              <div class="container">
                                <div class="row">
                                  <p class="text-ellipsis"><label>
                                      <input name="group1" type="radio" checked/><span class="text-ellipsis">Job Seeker</span>
                                    </label> </p>
                                    <p class="text-ellipsis">
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span class="text-ellipsis"> Service Provider </span>
                                      </label>
                                    </p>
                                    <p class="text-ellipsis">
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span class="text-ellipsis"> Service Provider </span>
                                      </label>
                                    </p>
                                    <p class="text-ellipsis">
                                      <label>
                                        <input name="group1" type="checkbox" checked/>
                                        <span class="text-ellipsis"> Acept Terms & Conditions  </span>
                                      </label>
                                    </p>
                                </div>
                              </div>
                              <div class="input-field col s12 width-100">
                                  <a class="waves-effect waves-light btn">Register</a>
                              </div>
                              </div>
                            </form>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

                
            <!-- BEGIN: Footer-->

            <footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
            <div class="footer-copyright">
                <div class="container"><span>&copy; 2020 <a href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank"></a>
                    DearHR</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="https://pixinvent.com/">DearHR</a></span></div>
            </div>
            </footer>

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="{% static 'app-assets/js/vendors.min.js' %}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="{% static 'app-assets/js/plugins.js' %}"></script>
    <script src="{% static 'app-assets/js/search.js' %}"></script>
    <script src="{% static 'app-assets/js/custom/custom-script.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/customizer.js' %}"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{% static 'app-assets/js/scripts/page-contact.js' %}"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
</html>

{% endblock content %}