{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta name="theme-color" content="#7E3DA8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>DearHR  | create questionss   </title>
    <link rel="apple-touch-icon" href="{% static 'app-assets/images/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/favicon/favicon-32x32.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/vendors.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/animate-css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/chartist-js/chartist-plugin-tooltip.css' %}">
    <!-- END: VENDOR CSS-->
    <link rel="stylesheet" href="{% static 'app-assets/vendors/select2/select2.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app-assets/vendors/select2/select2-materialize.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/hover-effects/media-hover-effects.css' %}">
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/dashboard-modern.css' %}">
    <!-- END: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/form-select2.css' %}">
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom/custom.css' %}">
    <!-- END: Custom CSS-->
    <script src="https://use.fontawesome.com/de1bfe1b04.js"></script>
    <style>
      .flickity-slider{
        transform: none!important;
      }
    </style>
  </head>
  <!-- END: Head-->
  <body class="vertical-layout gradient-45deg-indigo-purple page-header-dark vertical-modern-menu preload-transitions 2-columns " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <header class="page-topbar"  id="header">
      <div class="navbar navbar-fixed"> 
        <nav id="navscroll" style="padding-top: 15px; padding-bottom: 20px;"  class="navbar-main navbar-color nav-collapsible navbar-dark gradient-45deg-indigo-purple no-shadow">
          <div class="row">
            <div class="col m6">
              <h6 class="pl-7 grey-text text-lighten-1 text-ellipsis "><b class="white-text">HR</b> <i class="material-icons white-text" style="position: relative; top: 5px;">chevron_right</i>  Create Job </h6>
            </div>
            <div class="col m6 ">
              <div class="nav-wrapper gradient-45deg-indigo-purple">
                <div class="header-search-wrapper hide-on-med-and-down ml-4">
                  <i class="material-icons">search</i>
                  <input class="header-search-input z-depth-2 border-round" type="text" name="Search" placeholder="Explore DearHR" data-search="template-list">
                  <ul class="search-list collection display-none"></ul>
                </div>
                <ul class="navbar-list right" id="nabbar-top">
                  <!-- <li class="dropdown-language"><a class="waves-effect waves-block waves-light translation-button" href="#" data-target="translation-dropdown"><span class="flag-icon flag-icon-gb"></span></a></li> -->
                  <li class="hide-on-med-and-down"><a style="height: 60px;" class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                  <li class="hide-on-large-only search-input-wrapper"><a style="height: 60px;" class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                  <li><a style="height: 60px;" class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge">5</small></i></a></li>
                  <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="{% static 'app-assets/images/avatar/avatar-7.png' %}" alt="avatar"><i></i></span></a></li>
                  <li> <a style="height: 60px;"  href="#" data-target="theme-cutomizer-out" class="accent-2 white-text sidenav-trigger theme-cutomizer-trigger"><i class="material-icons">settings</i></a></li>
                  <li><a style="height: 60px;" class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right"><i class="material-icons">format_indent_increase</i></a></li>
                </ul>
                <!-- translation-button-->
                <ul class="dropdown-content" id="translation-dropdown">
                  <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="en"><i class="flag-icon flag-icon-gb"></i> English</a></li>
                  <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a></li>
                  <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></li>
                  <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a></li>
                </ul> 
                <!-- notifications-dropdown-->
                <ul class="dropdown-content" id="notifications-dropdown">
                  <li>
                    <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
                  </li>
                  <li class="divider"></li>
                  <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                    <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                  </li>
                  <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                    <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                  </li>
                  <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                    <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                  </li>
                  <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                    <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                  </li>
                  <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                    <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                  </li>
                </ul>
                <!-- profile-dropdown-->
                <ul class="dropdown-content" id="profile-dropdown">
                  <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i class="material-icons">person_outline</i> Profile</a></li>
                  <li><a class="grey-text text-darken-1" href="app-chat.html"><i class="material-icons">chat_bubble_outline</i> Chat</a></li>
                  <li><a class="grey-text text-darken-1" href="page-faq.html"><i class="material-icons">help_outline</i> Help</a></li>
                  <li class="divider"></li>
                  <li><a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i> Lock</a></li>
                  <li><a class="grey-text text-darken-1" href="{% url 'dashboard:logout' %}"><i class="material-icons">keyboard_tab</i> Logout</a></li>
                </ul>
              <!-- </div> -->
            <!-- </div> -->
          </div>
            </div>
          </div>
          <nav class="display-none search-sm">
            <div class="nav-wrapper">
              <form id="navbarForm">
                <div class="input-field search-input-sm">
                  <input class="search-box-sm mb-0" type="search" required="" id="search" placeholder="Explore Materialize" data-search="template-list">
                  <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                  <ul class="search-list collection search-list-sm display-none"></ul>
                </div>
              </form>
            </div>
          </nav>
        </nav>
      </div>
    </header>
    <!-- END: Header-->
    <!-- BEGIN: Page Main-->
    <div class="container " >
      <div class="row mt-1">
        <div class="container">
          <div class="row pl-6 animate fadeLeft">
            <div class="col s12 m6 push-m3">
              <div class="" style="padding-top: 10px;" 
                data-flickity='{ "freeScroll": false, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div class="carousel-cell ">
                  <div class="chip">
                    Collaborators:
                  </div>
                </div>
                <div class="carousel-cell">
                  <div class="chip">
                    <img class="padding-2" src="{% static 'app-assets/images/avatar/avatar-5.png' %}" alt="Contact Person">
                    Jane Doe
                  </div>
                </div>
                <div class="carousel-cell">
                  <div class="chip">
                    <img class="padding-2" src="{% static 'app-assets/images/avatar/avatar-4.png' %}" alt="Contact Person">
                    Jane Doe
                  </div>
                </div>
                <div class="carousel-cell">
                  <div class="chip">
                    <img class="padding-2" src="{% static 'app-assets/images/avatar/avatar-3.png' %}" alt="Contact Person">
                    Jane Doe
                  </div>
                </div>
                <div class="carousel-cell">
                  <div class="chip">
                    <img  class="padding-2" src="{% static 'app-assets/images/avatar/avatar-1.png' %}" alt="Contact Person">
                    Jane Doe
                  </div>
                </div>
                <div class="carousel-cell">
                  <div class="chip">
                    <img class="padding-2" src="{% static 'app-assets/images/avatar/avatar-2.png' %}" alt="Contact Person">
                    Jane Doe
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- small card for small screen -->
        <div class="col s12 m6 push-m3 card-sq">
          <div class="card animate fadeRight" >
            <!-- <h4 class="left pl-2">DEARHR</h4> -->
            <div class="card-header  pl-3 pr-3 pt-4" style="border-radius: 15px 15px 0 0;">
              <h5  class="pt-1 mt-0 center-align text-ellipsis"> QUESTION TITLE </h5>
            </div>
            <div class="card-content">
              <h6 class=" "><b>Instruction:</b></h6>
              <div class="mb-3">
                  <article class=" pl-2">Enter your all your skills records. later on, you can choose which which skills records you want to show on your targeted profile.
                    Enter your all your skills records. later on, you can choose which which skills records you want to show on your targeted profile.
                    Enter your all your skills records. later on, you can choose which which skills records you want to show on your targeted profile.
                  </article>
              </div>
          
              <div class="fixed-action-btn right click-to-toggle direction-left modal-trigger" data-target="modalAddSection" style="margin-top: 0px !important; bottom: 0px; margin-right: 20px;">
                <a class="btn-floating btn-medium pink.accent-2 menu-shadow"><i class="material-icons">add</i> </a>
              </div> 
              <h5> Sections </h5>
              <div class="row">
                <div class="col s12">
                  <ul class="collapsible collapsible-accordion">
                    <li class="">
                      <div class="collapsible-header centering text-ellipsis grey lighten-2 mt-1" style="border-radius: 8px;">
                         <b>Section:&nbsp;01</b>
                        <div class="col s1">
                          <i class="material-icons right" >arrow_drop_down</i>
                        </div>
                      </div>
                      <div class="collapsible-body" style="border-bottom: none;">
                        <div class="container pl-2 pr-2">
                          <div class="row grey lighten-4 mt-1 pt-1  pl-2 pr-2" style="border-radius: 8px;">
                            <a href="#modalAddQuestion" style="top:0px" class="star modal-trigger"><i class="material-icons grey-text">add</i></a>
                            <p>This section is the general overview of your knowledge.</p>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q1</b> This is he first question; tell me your name?</h6>
                            <div class="row pr-2">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea"></textarea>
                                <label for="textarea2">answer here</label>
                              </div>
                            </div>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q2:</b> Which one do you like the most?</h6>
                            <div class="row">
                              <div class="input-field col s12">
                                <div class="row">
                                  <div class="col s3 m2">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>one</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 m2 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>two otw</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>three of three</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>four </span>
                                      </label>
                                    </p>
                                  </div>
                                </div>
                                
                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="">
                      <div class="collapsible-header grey lighten-2 mt-1" style="border-radius: 8px;">
                         <b>Section:&nbsp;02</b>
                        <div class="col s1 ">
                          <i class="material-icons right ">arrow_drop_down</i>
                        </div>
                      </div>
                      <div class="collapsible-body" style="border-bottom: none;">
                        <div class="container pl-2 pr-2">
                          <div class="row grey lighten-4 mt-1 pt-1  pl-2 pr-2" style="border-radius: 8px;">
                            <a href="#modalAddQuestion" style="top:0px" class="star modal-trigger"><i class="material-icons grey-text">add</i></a>
                            <p>This section is about your contribution to the company.</p>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q1:</b> This is he first question; tell me your name?</h6>
                            <div class="row pr-2">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea"></textarea>
                                <label for="textarea2">answer here</label>
                              </div>
                            </div>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q2:</b> Whre do you like to work mostly, and why?</h6>
                            <div class="row pr-2">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea"></textarea>
                                <label for="textarea2">answer here</label>
                              </div>
                            </div>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q3:</b> What defines your well?</h6>
                            <div class="row pr-2">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea"></textarea>
                                <label for="textarea2">answer here</label>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                    <li class="">
                      <div class="collapsible-header centering text-ellipsis grey lighten-2 mt-1" style="border-radius: 8px;">
                         <b>Section:&nbsp;03</b>
                        <div class="col s1 ">
                          <i class="material-icons right ">arrow_drop_down</i>
                        </div>
                      </div>
                      <div class="collapsible-body" style="border-bottom: none;">
                        <div class="container pl-2 pr-2">
                          <div class="row grey lighten-4 mt-1 pt-1  pl-2 pr-2" style="border-radius: 8px;">
                            <a href="#modalAddQuestion" style="top:0px" class="star modal-trigger"><i class="material-icons grey-text">add</i></a>
                            <p>This sectionis about your contribution to the company.</p>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q1:</b> This is he first question; tell me your name?</h6>
                            <div class="row pr-2">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea"></textarea>
                                <label for="textarea2">answer here</label>
                              </div>
                            </div>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q2:</b> Which one do you like the most?</h6>
                            <div class="row">
                              <div class="input-field col s12">
                                <div class="row">
                                  <div class="col s3 m2">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>one</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 m2 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>two otw</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>three of three</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>four </span>
                                      </label>
                                    </p>
                                  </div>
                                </div>
                                
                               
                              </div>
                            </div>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q3:</b> Which one best describe your best?</h6>
                            <div class="row">
                              <div class="input-field col s12">
                                <div class="row">
                                  <div class="col s3 m2">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>one</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 m2 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>two otw</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>three of three</span>
                                      </label>
                                    </p>
                                  </div>
                                  <div class="col s3 ">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" checked/>
                                        <span>four </span>
                                      </label>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row grey lighten-4 mt-1 pt-1 pl-2" style="border-radius: 8px;">
                            <h6 > <b>Q5:</b> If you have any feedback and comments, kindly share</h6>
                            <div class="row pr-2">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea"></textarea>
                                <label for="textarea2">answer here</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
                </div>
                <p class="btn waves-effect waves-block waves-light col right mr-3" >Save</p>
              </div>
              
            </div>
          </div>
        </div>
        <!-- end of small card -->
      </div>
    </div>

    <!-- modal for section -->
    <div id="modalAddSection" class="modal " style="border-radius: 12px; width: 50%!important;">
      <div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
        <div class="container p-0">
          <div class="row">
            <div class="col s2">
            </div>
            <div class="col s8">
              <h6 class="center-align text-ellipsis"><a href=""><b> Add Section </h6>
            </div>
            <div class="col s2" style="padding-right: 0px; ">
              <a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
                    onmouseover="this.style.background ='#e91e63'" 
                    onmouseout="this.style.background='transparent'" 
                    style="padding-left: 10px; width: 20px; border-radius: 10px;">
                <i class="material-icons">clear</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-content">
          <div class="row p-0">
              <div class="col s12">
                <div class="container">
                  <div class="step-content grey lighten-4 pl-3 pr-3 pt-1" style="border-radius: 10px;">
                    <div class="row">
                      <div class="input-field col s12 m4">
                        <i class="material-icons prefix">assignment</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Section Name </label>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="input-field col s12 " >
                        <textarea  style="height: 100px!important;"id="textarea1" class="materialize-textarea" ></textarea>
                        <label for="textarea1"> Section Description...</label>
                      </div>
                    </div>
                    <div class="step-actions">
                      <div class="row pb-2">
                        <button class="waves-effect waves dark btn btn-primary next-step right" type="submit">
                          Add
                          <i class="material-icons right">arrow_forward</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <!-- end modal section -->


      <!-- modal for Question -->
      <div id="modalAddQuestion" class="modal " style="border-radius: 12px; width: 50%!important;">
        <div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
          <div class="container p-0">
            <div class="row">
              <div class="col s2">
              </div>
              <div class="col s8">
                <h6 class="center-align text-ellipsis"><a href=""><b> Add Question </h6>
              </div>
              <div class="col s2" style="padding-right: 0px; ">
                <a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
                      onmouseover="this.style.background ='#e91e63'" 
                      onmouseout="this.style.background='transparent'" 
                      style="padding-left: 10px; width: 20px; border-radius: 10px;">
                  <i class="material-icons">clear</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-content">
            <div class="row p-0">
                <div class="col s12">
                  <div class="container">
                    <div class="step-content grey lighten-4 pl-3 pr-3 pt-1" style="border-radius: 10px;">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">help</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter Your Question Here... </label>
                        </div>
                      </div>
                      
                      <div class="row">
                        <p>Enter options. If not, heave it blank.</p>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">assignment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Option one </label>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">assignment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Option two </label>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">assignment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Option three </label>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">assignment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Option four </label>
                        </div>
                        <div class="input-field col s12 m4">
                          <select>
                            <option value="" disabled selected> Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                            <option value="3">Option 4</option>
                          </select>
                          <label>Correct Option </label>
                        </div>
                      </div>
                      <div class="step-actions">
                        <div class="row pb-2">
                          <button class="waves-effect waves dark btn btn-primary next-step right" type="submit">
                            Add
                            <i class="material-icons right">add</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <!-- end modal question -->

    <!-- END: Page Main-->

 

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="{% static 'app-assets/js/vendors.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugins.js' %}"></script>
    <script src="{% static 'app-assets/js/search.js' %}"></script>
    <script src="{% static 'app-assets/js/custom/custom-script.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/customizer.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/form-select2.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/advance-ui-modals.js' %}"></script>
    <script src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js'></script>


    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, options);
      });
          // this is for expanding card
          // This is the important part!
          function collapseSection(element) {
            // get the height of the element's inner content, regardless of its actual size
            var sectionHeight = element.scrollHeight;
            // temporarily disable all css transitions
            var elementTransition = element.style.transition;
            element.style.transition = '';
            // on the next frame (as soon as the previous style change has taken effect),
            // explicitly set the element's height to its current pixel height, so we 
            // aren't transitioning out of 'auto'
            requestAnimationFrame(function() {
              element.style.height = sectionHeight + 'px';
              element.style.transition = elementTransition;
              // on the next frame (as soon as the previous style change has taken effect),
              // have the element transition to height: 0
              requestAnimationFrame(function() {
                element.style.height = 0 + 'px';
              });
            });
            // mark the section as "currently collapsed"
            element.setAttribute('data-collapsed', 'true');
          }
          function expandSection(element) {
            // get the height of the element's inner content, regardless of its actual size
            var sectionHeight = element.scrollHeight;
            // have the element transition to the height of its inner content
            element.style.height = sectionHeight + 'px';
            // when the next css transition finishes (which should be the one we just triggered)
            element.addEventListener('transitionend', function(e) {
              // remove this event listener so it only gets triggered once
              element.removeEventListener('transitionend', arguments.callee);
              // remove "height" from the element's inline styles, so it can return to its initial value
              // element.style.height = null;
            });
            // mark the section as "currently not collapsed"
            element.setAttribute('data-collapsed', 'false');
          }
          
          $(document).ready(function(){
            var section = document.querySelector('.section.collapsible2');
            $("toggle-button2").html('<i class="fa fa-chevron-down"></i>');
            collapseSection(section);
          });

          document.querySelector('.toggle-button2').addEventListener('click', function(e) {
            var section = document.querySelector('.section.collapsible2');
            var isCollapsed = section.getAttribute('data-collapsed') === 'true';
            if(isCollapsed) {
              expandSection(section)
              $(".toggle-button2").html('<i class="fa fa-chevron-up"></i>');
              section.setAttribute('data-collapsed', 'false')
            } else {
              collapseSection(section);
              $(".toggle-button2").html('<i class="fa fa-chevron-down"></i>');
            }
          });
   </script>
  </body>
</html>