{% load static %}
{% block content %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta name="theme-color" content="#7E3DA8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title> DearHR | reset password</title>
    <link rel="apple-touch-icon" href="{% static  'app-assets/images/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static  'app-assets/images/favicon/favicon-32x32.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom/custom.css' %}">
  </head>
  <body class=" gradient-45deg-indigo-purple centering" >
    <div class="row centering">
        <div class="col s12" style="margin-left: 0px;">
          <div class="card animate fadeLeft">
              <div class="card-content">
                  <h5>Pingo!!!</h5> <p>I told you no worries, enter your new password twice to reset it.</p>
                <form class="login-form" method="POST">
                  {% csrf_token %}
                  {{form }}
                  <div class="row">
                    <div class="col s12 m12 l12 ml-2 mt-1">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button id="js-login-btn" type="submit" class="btn btn-primary btn-block btn-lg"> <strong>Change my password</strong> </button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
    </div>
  
  </body>
</html>
{% endblock content %}