{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- BEGIN: Page Main-->
<div id="main">
<div class="row">
<div class="content-wrapper-before "></div>
<div class="col s12 ">
<div class="container">
<div class="section">
<!-- User statistics & appointment cards-->
<div class="row">
    <!-- first column -->
    <div class="col s12 m4 l3 allCard">
    <!-- generic user profile -->
    <div class=" card animate fadeLeft ">
        <div class="card-content">
            <div class="col s12 push-s2 pl-9">
                <div class="grid " style="width: 180px;" >
                <figure class="effect-sadie padding-2 gradient-indigo-purple center-align z-depth-3" style="width: 130px; border-radius: 50%;" >
                    <img  class="responsive-img  card-profile-image  circle" width="180px" style="opacity: 1;" src="{% static 'app-assets/images/user/12.jpg' %}"
                    alt="user profile">
                    <figcaption class="circle" >
                    <p ><a href=""><i class="material-icons pink-text">camera_alt</i></a></p>
                    </figcaption>
                </figure>
                </div>
            </div>
            <div class="row">
            <div class="col s12">
                <div class="row">
                <div id="text" class="col s12">
                    <h5 class="mb-0 pt-3 text-ellipsis"> <b>{{userobj.first_name}}&nbsp;{{userobj.last_name}}</b> <i class="material-icons modal-trigger" style="cursor: pointer;" data-target="modalEditInfo">edit</i></h5>
                    <h6  class="text-ellipsis pb-1" >Email&nbsp;: <a href="#"> {{userobj.email}}</a> </h6>
                    <h6  class="text-ellipsis pb-1"  >Phone&nbsp;: <a href="#"> {{obj.user_phone}}</a> </h6>
                    <h6  class="text-ellipsis pb-1" >DOB: <a href="#">{{obj.user_DOB}}</a> </h6>
                    <h6  class="text-ellipsis pb-1" >Gender: <a href="#"> {{obj.user_gender}}</a> </h6>
                    <h6  class="text-ellipsis pb-1" >Nationality: <a href="#"> German</a></h6>
                    <h6  class="text-ellipsis pb-1" >Marriatal Status: <a href="#"> {{obj.user_marital_status}}</a></h6>
                    <h6  class="text-ellipsis pb-1" >Visa Status: <a href="#"> {{obj.visa_status.visa_name}}</a></h6>
                    <!-- <h6  style="vertical-align: top;">Gender: <a href="#"> female</a> </h6> -->
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Experience card -->

    <!-- endorsement card -->
    <div class="card user-statistics-card animate fadeLeft mt-7">
        <div class="card-header gradient-45deg-light-blue-cyan pl-3 pr-3 pt-4 pb-2" style="border-radius: 15px 15px 0 0;">
        <h5  class="pt-0 mt-0 center-align text-ellipsis white-text">  Endorsements </h5>
        <div class="mb-3">
            <article class="white-text center-align" >put all of your Endorsements here in order to use them in your targeted profiles.</article>
        </div>
        <div class="fixed-action-btn right click-to-toggle direction-left modal-trigger" data-target="modalEndorsAdd" style="margin-top: -12px !important; bottom: 0px; margin-right: 20px;">
            <a class="btn-floating btn-medium pink.accent-2 menu-shadow"><i class="material-icons">add</i> </a>
        </div> 
        </div>
        <div class="card-content pb-0 pt-0 mt-5 " >
        <ul class="collapsible collapsible-accordion">
            <li class="">
            <div class="collapsible-header pb-2 centering">
                <i class="material-icons">share</i>
                Network&nbsp;Endoresement:&nbsp;&nbsp;<a href="">3</a>
                <div class="col s1 push-s1"><i class="material-icons right ">arrow_drop_down</i></div>
            </div>
            <div class="collapsible-body pb-0 mb-0">
                <div class="container">
                <ul id="collection-custom" class="collection mb-0 mt-3 pt-3" style="border: none;">
                    <li class="collection-item avatar" style="border-bottom: none; min-height: 60px; padding: 0px; padding-left: 80px; margin-bottom: 20px;">
                    <img src="{% static 'app-assets/images/avatar/avatar-7.png' %}" style="width: 60px; height: 60px; left: 0px;" alt="" class="circle" />
                    <p class="font-weight-600 text-ellipsis">John&nbsp;Doe</p>
                    <p class="medium-small text-ellipsis">subsonic</p>
                    <p class="medium-small text-ellipsis">Dept Manager </p>  
                    <a href="#!" class="star">2019/3/12</a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none; min-height: 60px; padding: 0px; padding-left: 80px;margin-bottom: 20px;">
                    <img src="{% static 'app-assets/images/avatar/avatar-3.png' %}" style="width: 60px; height: 60px; left: 0px;" alt="" class="circle" />
                    <p class="font-weight-600 text-ellipsis">Adam&nbsp;Garza</p>
                    <p class="medium-small text-ellipsis">subsonic</p>
                    <p class="medium-small text-ellipsis">Dept Manager </p>  
                    <a href="#!" class="star">2019/3/12</a>                                     
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none; min-height: 60px; padding: 0px; padding-left: 80px;margin-bottom: 20px;">
                    <img src="{% static 'app-assets/images/avatar/avatar-5.png' %}" style="width: 60px; height: 60px; left: 0px;" alt="" class="circle" />
                    <p class="font-weight-600 text-ellipsis">Jennifer&nbsp;Rice</p>
                    <p class="medium-small text-ellipsis">subsonic</p>
                    <p class="medium-small text-ellipsis">Dept Manager </p> 
                    <a href="#!" class="star">2019/3/12</a>                                       
                    </li>
                </ul>
                </div>
            </div>
            </li>

            
            <li class="">
            <div class="collapsible-header pb-4 centering">
                <i class="material-icons">assistant_photo</i>
                References:&nbsp;&nbsp;<a href="">3</a>
                <div class="col s1 push-s1"><i class="material-icons right ">arrow_drop_down</i></div>
            </div>
            <div class="collapsible-body pb-3" >
                <div class="container">
                <ul id="collection-custom" class="collection mb-0 mt-3 pt-3" style="border: none;">
                    <li class="collection-item avatar" style="border-bottom: none; min-height: 60px; padding: 0px; padding-left: 80px;margin-bottom: 20px;">
                    <img src="{% static 'app-assets/images/icon/pdf-image.png' %}" style="width: 45px; height: 60px; left: 0px; position: absolute;" alt="" class="" />
                    <p class="font-weight-600 text-ellipsis">Jennifer&nbsp;Rice</p>
                    <p class="medium-small text-ellipsis">subsonic&nbsp;|&nbsp;Dept&nbsp;Manager</p>
                    <p class="medium-small text-ellipsis">2019/2/10 </p> 
                    <a href="#modalRefEdit" class="star pr-3 modal-trigger"> <i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none; min-height: 60px; padding: 0px; padding-left: 80px;margin-bottom: 20px;">
                    <img src="{% static 'app-assets/images/icon/jpg-image.png' %}" style="width: 45px; height: 60px; left: 0px;position: absolute;" alt="" class="" />
                    <p class="font-weight-600 text-ellipsis">John&nbsp;Smith</p>
                    <p class="medium-small text-ellipsis">subsonic&nbsp;|&nbsp;Dept&nbsp;Manager</p>
                    <p class="medium-small text-ellipsis">2019/2/10 </p> 
                    <a href="#modalRefEdit" class="star pr-3 modal-trigger"> <i class="material-icons blue-text">edit</i></a>                                     
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none; min-height: 60px; padding: 0px; padding-left: 80px;margin-bottom: 20px;">
                    <img src="{% static 'app-assets/images/icon/pdf-image.png' %}" style="width: 45px; height: 60px; left: 0px; position: absolute;" alt="" class="" />
                    <p class="font-weight-600 text-ellipsis">Jennifer&nbsp;Rice</p>
                    <p class="medium-small text-ellipsis">subsonic&nbsp;|&nbsp;Dept&nbsp;Manager</p>
                    <p class="medium-small text-ellipsis">2019/2/10 </p> 
                    <a href="#modalRefEdit" class="star pr-3 modal-trigger"> <i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                </ul>

                <!-- <ul id="collection-custom" class="collection mb-0" style="border: none;">
                    <li class="collection-item avatar">
                    <img src="{% static 'app-assets/images/avatar/avatar-7.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">John Doe</p>
                    <p class="medium-small">18, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none;">
                    <img src="{% static 'app-assets/images/avatar/avatar-3.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">Adam Garza</p>
                    <p class="medium-small">20, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none;">
                    <img src="{% static 'app-assets/images/avatar/avatar-5.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">Jennifer Rice</p>
                    <p class="medium-small">25, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none;">
                    <img src="{% static 'app-assets/images/avatar/avatar-6.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">Jennifer Rice</p>
                    <p class="medium-small">25, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none;">
                    <img src="{% static 'app-assets/images/avatar/avatar-4.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">Jennifer Rice</p>
                    <p class="medium-small">25, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none;">
                    <img src="{% static 'app-assets/images/avatar/avatar-1.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">Jennifer Rice</p>
                    <p class="medium-small">25, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>
                    <li class="collection-item avatar" style="border-bottom: none;">
                    <img src="{% static 'app-assets/images/avatar/avatar-2.png' %}" alt="" class="circle" />
                    <p class="font-weight-600">Jennifer Rice</p>
                    <p class="medium-small">25, January 2019</p>
                    <a href="#modalEndorsView" class="star modal-trigger ml-4"><i class="material-icons blue-text">remove_red_eye</i></a>
                    <a href="#modalEndorsAdd" class="star modal-trigger"><i class="material-icons blue-text">edit</i></a>                                      
                    </li>

                </ul> -->
                </div>
            </div>
            </li>
            
        </ul>
        </div>
    </div>
    <!-- end of endorsement -->
    </div>
    <!-- end of first column -->
    
    <!-- second column -->
    <div class="col s12 m4 l3 allCard">
        <!-- experience card -->
        <div class="card user-statistics-card animate fadeLeft">
        <div class="card-header gradient-45deg-red-pink pl-3 pr-3 pt-4 pb-2" style="border-radius: 15px 15px 0 0;">
            <h5  class="pt-0 mt-0 center-align text-ellipsis white-text">  Experiences:&nbsp;<a class="grey-text text-lighten-3" href="">5</a> </h5>
            <div class="mb-3">
            <article class="white-text center-align" >list all of you exsperiences here to make them avaible for your cards.</article>
        </div>
            <div class="fixed-action-btn right click-to-toggle direction-left modal-trigger" data-target="modalEndorsAdd" style="margin-top: -12px !important; bottom: 0px; margin-right: 20px;">
            <a class="btn-floating btn-medium pink.accent-2 menu-shadow modal-trigger" href="#modalExp"><i class="material-icons">add</i> </a>
            </div> 
        </div>
            <div class="card-content">
            <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                <h6 class="text-ellipsis" style="font-weight: bolder;">2018&nbsp;-&nbsp;present<a href="#" style="font-size: 16px;">&nbsp;&nbsp;2yr</a></h6>
                <b class="text-ellipsis">Project&nbsp;Manager&nbsp;&nbsp;|&nbsp;&nbsp;Subsonic&nbsp;LLC</b>
                <a href="#modalDeleteExp" style="top:-30px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                <p class="pb-3" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                </p>
                
            </div>
            <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                <h6 class="text-ellipsis"  style="font-weight: bolder;">2016&nbsp;-&nbsp;2018<a href="#" style="font-size: 16px;">&nbsp;&nbsp;2yr</a></h6>
                <b  class="text-ellipsis">Project&nbsp;Manager&nbsp;&nbsp;|&nbsp;&nbsp;Subsonic&nbsp;LLC</b>
                <a href="#modalDeleteExp" style="top:-30px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                <p class="pb-3" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, l</p>
            </div>
            <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                <h6 class="text-ellipsis" style="font-weight: bolder;">2013&nbsp;-&nbsp;2016<a href="#" style="font-size: 16px;">&nbsp;&nbsp;5yr</a></h6>
                <b class="text-ellipsis">Asistant&nbsp;&nbsp;|&nbsp;&nbsp;Subsonic&nbsp;LLC</b>
                <a href="#modalDeleteExp" style="top:-30px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                <p class="pb-5" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, l</p>
            </div>
            <!-- accordian here -->
            </div>
        </div>
        <!-- end of experience card  -->

        <!-- showcase card -->
        <div class="card user-statistics-card animate fadeLeft mt-7 ">
        <div class="card-header gradient-45deg-blue-indigo pl-3 pr-3 pt-4 pb-2" style="border-radius: 15px 15px 0 0;">
            <h5  class="pt-0 mt-0 center-align text-ellipsis white-text">  Showcase:&nbsp;<a href="" class="grey-text text-lighten-3">6</a> </h5>
            <div class="mb-3">
                <article class="white-text center-align" >put all of your records, projections and documents here in order to use them in tyour targeted profiles.</article>
            </div>
            <div class="fixed-action-btn right click-to-toggle direction-left modal-trigger" data-target="modalEndorsAdd" style="margin-top: -12px !important; bottom: 0px; margin-right: 20px;">
            <a class="btn-floating btn-medium pink.accent-2 menu-shadow modal-trigger" href="#modalAddPhoto"><i class="material-icons">add</i> </a>
            </div> 
        </div>
        <div class="card-content p-0" style="padding: 20px 10px 0 10px !important;">
            <div class="container popup-gallery">
            <div class="row user-projects pb-1 pt-3">
                <div class="col s4" style="padding-left: 0.5em; padding-right: 0.5em;">
                <a href="{% static 'app-assets/images/gallery/1.png' %}" title="The first one" >
                    <img src="{% static 'app-assets/images/gallery/1.png' %}" class="responsive-img mb-8 photo-border" alt="">
                </a>
                </div>
                <div class="col s4" style="padding-left: 0.5em; padding-right: 0.5em;">
                <a href="{% static 'app-assets/images/gallery/2.png' %}" title="The second">
                    <img src="{% static 'app-assets/images/gallery/2.png' %}" class="responsive-img mb-8 photo-border" alt="">
                </a>
                </div>
                <div class="col s4" style="padding-left: 0.5em; padding-right: 0.5em;">
                <a href="{% static 'app-assets/images/gallery/3.png' %}" title="The third">
                    <img src="{% static 'app-assets/images/gallery/3.png' %}" class="responsive-img mb-8 photo-border" alt="">
                </a>
                </div>
                <div class="col s4" style="padding-left: 0.5em; padding-right: 0.5em;">
                <a href="{% static 'app-assets/images/gallery/4.png' %}" title="The fourth">
                    <img src="{% static 'app-assets/images/gallery/4.png' %}" class="responsive-img mb-8 photo-border" alt="">
                </a>
                </div>
                <div class="col s4" style="padding-left: 0.5em; padding-right: 0.5em;">
                <a href="{% static 'app-assets/images/gallery/5.png' %}" title="The fourth">
                    <img src="{% static 'app-assets/images/gallery/5.png' %}" class="responsive-img mb-8 photo-border" alt="">
                </a>
                </div>
                <div class="col s4" style="padding-left: 0.5em; padding-right: 0.5em;">
                <a href="{% static 'app-assets/images/gallery/6.png' %}" title="The fourth">
                    <img src="{% static 'app-assets/images/gallery/6.png' %}" class="responsive-img mb-8 photo-border" alt="">
                </a>
                </div>
            </div>
            </div>
            <!-- accordian here -->
        </div>
        </div>
        <!-- end of showcase -->
    </div>
    <!-- end of second column -->
    
    <!-- third column -->
    <div class="col s12 m4 l3 allCard">
        <!-- education card -->
        <div class="card user-statistics-card animate fadeLeft">
        <div class="card-header gradient-45deg-amber-amber pl-3 pr-3 pt-4 pb-2" style="border-radius: 15px 15px 0 0;">
            <h5  class="pt-0 mt-0 center-align text-ellipsis white-text">  Education:&nbsp;<a href="" class="grey-text text-lighten-3">5</a> </h5>
            <div class="mb-3">
            <article class="white-text center-align" >Enter your all eudcational records. later on, you can choose which which educational records you want to show on your targeted profile.</article>
            </div>
            <div class="fixed-action-btn right click-to-toggle direction-left modal-trigger" data-target="modalAddEdu" style="margin-top: -12px !important; bottom: 0px; margin-right: 20px;">
            <a class="btn-floating btn-medium pink.accent-2 menu-shadow"><i class="material-icons">add</i> </a>
            </div> 
        </div>
            <div class="card-content ">
                <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                    <a href="#modalDeleteExp" style="top:5px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">Master&nbsp;in&nbsp;Marketing</h6>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">Harvard&nbsp;University</h6>
                    <b class="text-ellipsis">2018&nbsp;-&nbsp;2020<a href="#" style="font-size: 16px;">&nbsp;&nbsp;2yr</a></b>
                    <p class="pb-3" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, l</p>
                </div>
                <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                    <a href="#modalDeleteExp" style="top:5px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">Bachelor&nbsp;in&nbsp;IT</h6>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">MIT&nbsp;</h6>
                    <b class="text-ellipsis">2014&nbsp;-&nbsp;2017<a href="#" style="font-size: 16px;">&nbsp;&nbsp;2yr</a></b>
                    <p class="pb-3" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, l</p>
                </div>
                <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                    <a href="#modalDeleteExp" style="top:5px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">Master&nbsp;in&nbsp;Marketing</h6>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">Harvard&nbsp;University</h6>
                    <b class="text-ellipsis">2018&nbsp;-&nbsp;2020<a href="#" style="font-size: 16px;">&nbsp;&nbsp;2yr</a></b>
                    <p class="pb-3" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, l</p>
                </div>
                <div class="grey lighten-4 padding-2 border-radius-8 mt-2">
                    <a href="#modalDeleteExp" style="top:5px" class="star modal-trigger"><i class="material-icons blue-text">delete</i></a>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">Diploma&nbsp;in&nbsp;PMP</h6>
                    <h6 class="text-ellipsis" style="font-weight: bolder;">PMI&nbsp;</h6>
                    <b class="text-ellipsis">2014&nbsp;-&nbsp;2015<a href="#" style="font-size: 16px;">&nbsp;&nbsp;2yr</a></b>
                    <p class="pb-3" style="font-size: smaller;">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, l</p>
                </div>
                <!-- accordian here -->
            </div>
        </div>
        <!-- end of education card  -->

    </div>
    <!-- end of third column -->
    
    <!-- fourth col -->
    <div class="col s12 m4 l3 allCard">
        <!-- skills card -->
        <div class="card user-statistics-card animate fadeLeft">
        <div class="card-header gradient-45deg-purple-deep-orange pl-3 pr-3 pt-4 pb-2" style="border-radius: 15px 15px 0 0;">
            <h5  class="pt-0 mt-0 center-align text-ellipsis white-text"> Skills:&nbsp;<a href="" class="grey-text text-lighten-3">4</a> </h5>
            <div class="mb-3">
                <article class="white-text center-align" >Enter your all your skills records. later on, you can choose which which skills records you want to show on your targeted profile.</article>
            </div>
            <div class="fixed-action-btn right click-to-toggle direction-left modal-trigger" data-target="modalEndorsAdd" style="margin-top: -12px !important; bottom: 0px; margin-right: 20px;">
            <a class="btn-floating btn-medium pink.accent-2 menu-shadow"><i class="material-icons">add</i> </a>
            </div> 
        </div>
            <div class="card-content padding-2">
            <div class="container">
                <div class="row">
                <ul id="" class="collection" style="border: none; margin-top: 20px;">
                    <li class="collection-item avatar  mt-1" style="border-bottom: none;">
                    <div class="row p-0 ">
                        <div class="col s10 pr-0">
                        <img src="{% static 'app-assets/images/avatar/avatar-7.png' %}" alt="" class="circle" />
                        <p class="font-weight-600">Project management </p>
                        <div class="prograss">
                            <div class="w3-green prograss_bar" style="width:94%; box-shadow: 0 0 0 1px #6ca86e ;">  <span>95%</span></div>
                        </div>
                        </div>
                        <div class="col s2 mt-4"><a href="#modalDeleteExp" class="modal-trigger"><i class="material-icons blue-text">delete</i></a></div>
                    </div>
                    </li>
                    <li class="collection-item avatar mb-2 mt-1" style="border-bottom: none;">
                    <div class="row p-0 ">
                        <div class="col s10 pr-0">
                        <img src="{% static 'app-assets/images/avatar/avatar-3.png' %}" alt="" class="circle" />
                        <p class="font-weight-600">Marketing </p>
                        <div class="prograss">
                            <div class="w3-yellow-green prograss_bar" style="width:80%; box-shadow: 0 0 0 1px #A3C14F;">
                            <span>80%</span>
                            </div>
                        </div>
                        </div>
                        <div class="col s2 mt-4 pr-2"><a href="#modalDeleteExp" class="modal-trigger "><i class="material-icons blue-text">delete</i></a></div>
                    </div>
                    </li>
                    <li class="collection-item avatar mb-2 mt-1" style="border-bottom: none;">
                    <div class="row p-0 ">
                        <div class="col s10 pr-0 ">
                        <img src="{% static 'app-assets/images/avatar/avatar-5.png' %}" alt="" class="circle" />
                        <p class="font-weight-600">Vloging </p>
                        <div class="prograss">
                            <div class="w3-yellow prograss_bar" style="width:60%; box-shadow: 0 0 0 1px #ffeb3b ;">  <span>60%</span></div>
                        </div>
                        </div>
                        <div class="col s2 mt-4 pr-2 "><a href="#modalDeleteExp" class="modal-trigger "><i class="material-icons blue-text">delete</i></a></div>
                    </div>
                    </li>
                    <li class="collection-item avatar mb-2 mt-1" style="border-bottom: none;">
                    <div class="row p-0 ">
                        <div class="col s10 pr-0">
                        <img src="{% static 'app-assets/images/avatar/avatar-5.png' %}" alt="" class="circle" />
                        <p class="font-weight-600">SEO </p>
                        <div class="prograss">
                            <div class="w3-orange prograss_bar" style="width:35%; box-shadow: 0 0 0 1px #ff9800 ; "><span>35%</span></div>
                        </div>
                        </div>
                        <div class="col s2 mt-4 pr-2 "><a href="#modalDeleteExp" class="modal-trigger "><i class="material-icons blue-text">delete</i></a></div>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            <!-- accordian here -->
            </div>
        </div>                
        <!-- end of skills card  -->
    </div>
    <!-- end of  -->
</div>
</div>




</div>
<div class="content-overlay"></div>
</div>
</div>
</div>
<!-- END: Page Main-->

<!-- modal for experience add -->
<div id="modalExp" class="modal modal-fixed-footer" style="border-radius: 12px;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Add Experience </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
        style="padding-left: 10px; width: 20px; border-radius: 10px;">
    <i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content pb-6">
<div class="row p-0">
<div class="col s12">
    <!-- Form Advance -->
    <div class="col s12 m12 l12">
    <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
        <h4 class="card-title">Add Details About Experience: </h4>
        <form>
            <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name01" type="text">
                <label for="first_name01">Position </label>
            </div>
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">home</i>
                <input id="last_name" type="text">
                <label for="last_name">Company </label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input type="text" class="datepicker">
                <label for="icon_prefix">Date From  </label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
            <input type="text" class="datepicker">
            <label for="icon_prefix">To  </label>
            </div>
            </div>
            
        
            <div class="row">
            <div class="input-field col s12">
                <textarea id="message5" class="materialize-textarea"></textarea>
                <label for="message">Roles</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <textarea id="message5" class="materialize-textarea"></textarea>
                <label for="message">Accomplishment</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <textarea id="message5" class="materialize-textarea"></textarea>
                <label for="message">Description</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12 m6">
                <div class="file-field input-field ">
                <div class="btn">
                <span>File</span>
                <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
    </div>         
</div>
</div>
</div>
<div class="modal-footer" style="z-index: 1;">
<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">cancel</a>          
<a href="#!" class="modal-action modal-close  waves-effect waves-green btn-flat ">save</a>
</div>
</div>
<!-- endo of experience add modal -->

<!-- modal for education add -->
<div id="modalAddEdu" class="modal modal-fixed-footer" style="border-radius: 12px;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Add Education </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
        onmouseover="this.style.background ='#e91e63'"  onmouseout="this.style.background='transparent'" 
        style="padding-left: 10px; width: 20px; border-radius: 10px;">
    <i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content pb-6">
<div class="row p-0">
<div class="col s12">
    <!-- Form Advance -->
    <div class="col s12 m12 l12">
    <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
        <h4 class="card-title">Add Details About Education: </h4>
        <form>
            <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name01" type="text">
                <label for="first_name01">Title </label>
            </div>
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">account_balance</i>
                <input id="last_name" type="text">
                <label for="last_name">Institution </label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input type="text" class="datepicker">
                <label for="icon_prefix">Date From  </label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
            <input type="text" class="datepicker">
            <label for="icon_prefix">To  </label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <textarea id="message5" class="materialize-textarea"></textarea>
                <label for="message">Description</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12 m6">
                <div class="file-field input-field ">
                <div class="btn">
                <span>File</span>
                <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
    </div>         
</div>
</div>
</div>
<div class="modal-footer" style="z-index: 1;">
<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">cancel</a>          
<a href="#!" class="modal-action modal-close  waves-effect waves-green btn-flat ">save</a>
</div>
</div>
<!-- endo of education add modal -->

<!-- modal for endorsements -->
<div id="modalEndorsAdd" class="modal modal-fixed-footer" style="border-radius: 12px;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Add Reference </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
    onmouseover="this.style.background ='#e91e63'" 
    onmouseout="this.style.background='transparent'" 
    style="padding-left: 10px; width: 20px; border-radius: 10px;">
<i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content pb-6">
<div class="row p-0">
<div class="col s12">
<!-- Form Advance -->
<div class="col s12 m12 l12">
    <div id="Form-advance" class="card card card-default scrollspy">
    <div class="card-content">
        <h4 class="card-title">Add Details About Endorsement: </h4>
        <form>
        <div class="row">
            <div class="input-field col m6 s12">
            <input id="first_name01" type="text">
            <label for="first_name01">First Name</label>
            </div>
            <div class="input-field col m6 s12">
            <input id="last_name" type="text">
            <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
            <input id="email5" type="number">
            <label for="email">Phone</label>
            </div>
            <div class="input-field col s12 m6">
            <input id="email5" type="email">
            <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6 s12">
            <input id="first_name01" type="text">
            <label for="first_name01">Company </label>
            </div>
            <div class="input-field col m6 s12">
            <input id="last_name" type="text">
            <label for="last_name">Position </label>
            </div>
        </div>
        <div class="row">
            <div class=" col m6 s12">
            <div class="col s12 m8 l9">
                <div class="file-field input-field ">
                <div class="btn">
                <span>File</span>
                <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
                </div>
            </div>
            </div>
            <div class="input-field col m6 s12">
            <input type="text" class="datepicker" id="dob">
            <label for="dob">Date</label>
            </div>
        </div>
        <div class="row">
            <div class="row section">
            
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <textarea id="message5" class="materialize-textarea"></textarea>
            <label for="message">enter the body of your endorsement</label>
            </div>
        </div>
        </form>
    </div>
    </div>
</div>         
</div>
</div>
</div>
<div class="modal-footer" style="z-index: 1;">
<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">cancel</a>          
<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">save</a>
</div>
</div>
<!-- endo of endorsement modal -->

<!-- modal for endorsements view -->
<div id="modalEndorsView" class="modal" style="border-radius: 12px;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Endoresement </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
    onmouseover="this.style.background ='#e91e63'" 
    onmouseout="this.style.background='transparent'" 
    style="padding-left: 10px; width: 20px; border-radius: 10px;">
<i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content">
<div class="row p-0">
<div class="col s12">
<ul id="collection-custom" style="border: none; border-radius: 15px;" class="collection">
    <li class="collection-item avatar card animate fadeUp" style="min-height: 60px; margin: 0px 10px 20px 10px; padding-left: 20px;">
    <div style="padding-left: 80px; padding-top: 5px;" >
        <img src="{% static 'app-assets/images/avatar/avatar-12.png' %}" style="width: 70px; height: 70px;  padding: 1px; " alt="" class="circle z-depth-2" />
        <p class="right">12/10/ 2018</p>
        <p class="font-weight-600 text-ellipsis">John&nbsp;Doe</p>
        <p class="medium-small text-ellipsis">subsonic</p>
        <p class="medium-small text-ellipsis">Dept Manager </p> 
    </div>
    <article class="mt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </article>                                          
    </li>
</ul>
</div>
</div>
</div>
</div>
<!-- endo of endorsement modal -->

<!-- modal for edit information -->
<div id="modalEditInfo" class="modal" style="border-radius: 12px;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Edit your Info </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
    onmouseover="this.style.background ='#e91e63'" onmouseout="this.style.background='transparent'" 
    style="padding-left: 10px; width: 20px; border-radius: 10px;">
<i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content">
<div class="row">
<div class="card">
<div class="step-content grey lighten-4 pl-3 pr-3 pt-1" style="border-radius: 10px;">

    <div class="row">
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Full Name </label>
    </div>
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="email" class="validate">
        <label for="icon_prefix">Email  </label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_prefix" type="tel" class="validate">
        <label for="icon_prefix">Phone </label>
    </div>

    <div class="input-field col s12 m6">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="datepicker">
        <label for="icon_prefix">Date of Birth  </label>
    </div>
    </div>
    <div class="row">
    <div class="col s12 m6">
        <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix"> Nationality</label>
        </div>
    </div>

    <div class="input-field col s12 m6">
        <i class="material-icons prefix">person</i>
        <select>
        <option value="0" >Male</option>
        <option value="1"> Female</option>
        <option value="2"> Other</option>
        </select>
        <label> Gender</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">person</i>
        <select>
        <option value="0" >Single</option>
        <option value="1"> Marriaged</option>
        <option value="2"> Devorced</option>
        </select>
        <label> Marriatal Status</label>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
        <i class="material-icons prefix">assignment</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix"> Visa Status</label>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col s12 pt-2">
        <p class="btn right"> Ok </p>
    </div>
    </div>
    
</div>
</div>
</div>
</div>
</div>
<!-- endo of edit information modal -->

<!-- modal for reference edit -->
<div id="modalRefEdit" class="modal" style="border-radius: 12px;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Edit Reference </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
    style="padding-left: 10px; width: 20px; border-radius: 10px;">
<i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content">
<div class="row">
<div class="card">
<div class="step-content grey lighten-4 pl-3 pr-3 pt-1" style="border-radius: 10px;">
    <div class="row">
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Full Name </label>
    </div>
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="email" class="validate">
        <label for="icon_prefix">Email  </label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12 m6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_prefix" type="tel" class="validate">
        <label for="icon_prefix">Phone   </label>
    </div>

    <div class="input-field col s12 m6">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="datepicker">
        <label for="icon_prefix">Date of Birth  </label>
    </div>
    </div>

    <div class="row">
    <div class="col s12 m6">
        <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix"> Position</label>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
        <i class="material-icons prefix">home</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix"> Company</label>
        </div>
    </div>
    
    </div>
    <div class="row">
    <p class="btn right"> Ok </p>
    </div>
    
</div>
</div>
</div>
</div>
</div>
<!-- endo of reference edit modal -->

<!-- modal for add file -->
<div id="modalAddPhoto" class="modal" style="border-radius: 12px; width: 40%!important;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Add Files </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
    onmouseover="this.style.background ='#e91e63'" onmouseout="this.style.background='transparent'" 
    style="padding-left: 10px; width: 20px; border-radius: 10px;">
<i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content">
<div class="row">
<div class="card">
<div class="card-content">
    <div class="row">
    <div class="col s12 pb-2 ">
        <form action="#">
        <div class="file-field input-field ">
            <div class="btn">
            <span>File</span>
            <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>
        </form>
    </div>
    <div class="col s12">
        <p class="btn right">Upload</p>
    </div>
    </div>
    
</div>

</div>
</div>
</div>
</div>
<!-- endo of add flie modal -->

<!-- modal for delete  -->
<div id="modalDeleteExp" class="modal" style="border-radius: 12px; width: 40%!important;">
<div class="" style="overflow-y: auto; width: 100%; padding:7px 10px; border-bottom: 1px solid rgba(0, 0, 0, .1); background: #e1e4e9; ">
<div class="container p-0">
<div class="row">
<div class="col s2">
</div>
<div class="col s8">
<h6 class="center-align text-ellipsis"><a href=""><b>Warning </b></a> </h6>
</div>
<div class="col s2" style="padding-right: 0px; ">
<a class="modal-action modal-close waves-effect waves-red accent-2 btn-flat right" 
    style="padding-left: 10px; width: 20px; border-radius: 10px;">
<i class="material-icons">clear</i>
</a>
</div>
</div>
</div>
</div>
<div class="modal-content">
<div class="row">
<div class="card">
<div class="card-content">
    <div class="row">
    <div class="col s12 pb-2 ">
        <p class="center-align">Are you sure you want to Delete?</p>
    </div>
    <div class="col s12 center-align">
        <p class=" white-text pink ml-2 modal-action modal-close waves-effect waves-red btn-flat">Delete</p>
        <p class=" white-text grey mr-2 modal-action modal-close waves-effect waves-red btn-flat">Cancel</p>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- endo of delete -->

{% endblock content %}
<!-- 
{% include 'right_sidebar.html' %} -->
