@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.range{
  height: 100px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 40px 20px 10px 20px;
}
.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.range .field input{
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
    outline: none;
    border: none;
}
.range .field .value{
    position: absolute;
    font-size: 12px;
    font-weight: 50;
    color: rgb(20, 20, 20);
    background-color: rgb(224, 224, 224);
    border-radius: 10%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1%;
    padding-left: 1%;
    width: fit-content;
}
.range .field .value.avg{
  right: 50%;
  top: 80%;
}
.range .field .value.colorline{
  height: 10px;
  width: 30%;
  background: #ff4081;
  right: 100px;
  /* left: -30px; */
}
.range .field .value.left{
    left: -4px;
    top: 40px;
}
.range .field .value.right{
    right: -10px;
    top: 40px;
}

.range .field .value.min{
    left: -5px;
    top: -5px;
}
.range .field .value.max{
    right: -5px;
    top: -5px;
}

.range .sliderValue{
    position: relative;
    width: 100%;

}

.range .sliderValue span{
    position: absolute;
    height: 40px;
    width: 40px;
    color: #fff;
    font-weight: 500;
    top: -45px;
    left: 60%;
    transform: translate(-50%) ;
    line-height: 50px;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    background: #ff4081;
    border: 2px solid #fff;
    z-index: -1;
    /* left: 50%; */
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #ff4081;
    border: 1px solid #ff4081;
    cursor: pointer;
  }
  