{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="page-wrapper auth">
            <div class="page-inner bg-brand-gradient">
                <div class="page-content-wrapper bg-transparent m-0">
                    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                        <div class="d-flex align-items-center container p-0">
                            <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                                    <img src="{% static 'users/img/logo.png' %}" alt="SmartAdmin WebApp" aria-roledescription="logo">
                                    <span class="page-logo-text mr-1">DearHR</span>
                                </a>
                            </div> 
                            <a href="{% url 'users:join' %}" class="btn-link text-white ml-auto">
                               <strong>Join Now</strong>
                            </a>
                        </div>
                    </div>
                    <div class="flex-1" style="background: url({% static 'users/img/svg/pattern-1.svg' %}) no-repeat center bottom fixed; background-size: cover;">
                        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                            <div class="row">
                                <div class="col col-md-6 col-lg-7 hidden-sm-down">
                                    <h2 class="fs-xxl fw-500 mt-4 text-white">
                                        The best way to know the future is to make it
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            here is the place for a short about section.
                                            here is the place for a short about section. 
                                            here is the place for a short about section. 
                                            here is the place for a short about section. 
                                            here is the place for a short about section. 
                                            here is the place for a short about section.
                                            here is the place for a short about section. 
                                            here is the place for a short about section.
                                            here is the place for a short about section.
                                            here is the place for a short about section.
                                            here is the place for a short about section.

                                        </small>
                                    </h2>
                                    <a href="#" class="fs-lg fw-500 text-white opacity-70">Learn more &gt;&gt;</a>
                                    <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                                        <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
                                            Find us on social media
                                        </div>
                                        <div class="d-flex flex-row opacity-70">
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-google-plus-square"></i>
                                            </a>
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
                                    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                                        Secure login
                                    </h1>
                                    <div class="card p-4 rounded-plus bg-faded">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            {{form | crispy}}
                                            <div class="row no-gutters">
                                                <div class="col-lg-6 pl-lg-1 my-2">
                                                    <button id="js-login-btn" type="submit" class="btn btn-primary btn-block btn-lg"> <strong>Login</strong> </button>
                                                </div>
                                                <hr>
                                            </div>
                                            <a class="mr-2 fs-xl" href="{% url 'users:password_reset'%}">I forgot my password </a>
                                        </form>
                                        <!-- <form id="js-login" novalidate="" action="intel_analytics_dashboard.html">
                                            <div class="form-group">
                                                <label class="form-label" for="username">Username</label>
                                                <input type="email" id="username" class="form-control form-control-lg" placeholder="your id or email" value="" required>
                                                <div class="invalid-feedback">No, you missed this one.</div>
                                                <div class="help-block">Your unique username to system</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" id="password" class="form-control form-control-lg" placeholder="password" value="" required>
                                                <div class="invalid-feedback">Sorry, you missed this one.</div>
                                                <div class="help-block">Your password</div>
                                            </div>
                                            <div class="form-group text-left">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rememberme">
                                                    <label class="custom-control-label" for="rememberme"> Remember me</label>
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col-lg-6 pr-lg-1 my-2">
                                                    <button type="submit" class="btn btn-info btn-block btn-lg">Sign in with <i class="fab fa-google"></i></button>
                                                </div>
                                                <div class="col-lg-6 pl-lg-1 my-2">
                                                    <button id="js-login-btn" type="submit" class="btn btn-danger btn-block btn-lg"> <strong>Login</strong> </button>
                                                </div>
                                            </div>
                                        </form> -->
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                                2020 © DearHR&nbsp;<a href='https://www.dearhr.com' class='text-white opacity-40 fw-500' title='dearhr.com' target='_blank'>dearhr.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}