{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper auth">
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                            <img src="{% static 'users/img/logo.png' %}" alt="DearHR " aria-roledescription="logo">
                            <span class="page-logo-text mr-1">DearHR</span>
                        </a>
                    </div>
                    <span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
                        Already a member?
                    </span>
                    <a href="{% url 'users:user_login' %}" class="btn-link text-white ml-auto ml-sm-0">
                         Login here
                    </a>
                </div>
            </div>
            <div class="flex-1" style="background: url({% static 'users/img/svg/pattern-1.svg' %}) no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                                Register now, its free!
                                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                                    Your registration is free for a life time. Enjoy DearHR for alawys. 
                                    
                                </small>
                            </h2>
                        </div>
                        <div class="col-xl-6 ml-auto mr-auto" >
                            <div class="card p-4 rounded-plus bg-faded" >
                                <form method="POST" action="">
                                {% csrf_token %}
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6 col-lg-6 mb-0 ">
                                        {{ form.first_name | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 mb-0 ">
                                        {{ form.last_name | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 col-lg-6 mb-0 ">
                                        {{ form.email | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 mb-0 ">
                                        {{ form.username | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 col-lg-6 mb-0 ">
                                        {{ form.password1 | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 mb-0 ">
                                        {{ form.password2 | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-group demo">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="terms" required>
                                        <label class="custom-control-label" for="terms"> I agree to terms & conditions</label>
                                        <div class="invalid-feedback">You must agree before proceeding</div>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newsletter">
                                        <label class="custom-control-label" for="newsletter">Sign up for newsletters (dont worry, we won't send so many)</label>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-md-4 ml-auto text-right">
                                        <button id="js-login-btn" type="submit" class="btn btn-block btn-primary btn-lg mt-3">Send verification</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                    2020 © DearHR &nbsp;<a href='https://www.dearhr.com' class='text-white opacity-40 fw-500' title='gotbootstrap.com' target='_blank'>dearhr.com</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}